html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--app-background: hsl(0, 0%, 98%);
	--elements-bg: hsl(0, 0%, 100%);
	--text-primary: hsl(200, 15%, 8%);
	--input: hsl(0, 0%, 52%);
}

[data-theme='dark'] {
	--app-background: hsl(207, 26%, 17%);
	--elements-bg: hsl(209, 23%, 22%);
	--text-primary: hsl(0, 0%, 100%);
	--input: hsl(0, 0%, 98%);
}

.main {
	background-color: var(--app-background);
	position: relative;
	min-height: 100vh;
	padding-bottom: 2rem;
}

.app-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--elements-bg);
	height: 64px;
	padding: 0 4%;
}

.inputs-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4%;
    margin: 2.5rem 0;
}

/* .light {
    color: while;
    border: 2px black;
} */

.brand {
	color: var(--text-primary);
}

.theme-toggler {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	text-decoration: none;
	border: none;
	background-color: var(--elements-bg);
	color: var(--text-primary);
}


/* .form-control {
    padding: 10px;
	margin: 1rem;
	margin: 20px;
	border-radius: 12px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
} */


.search-container {
	background-color: var(--elements-bg);
	border-radius: 7px;
	width: 30%;
}

.search-icon {
	position: absolute;
	padding: 0.85rem;
	font-size: 1rem;
	color: var(--input);
}

.search-bar {
	width: 100%;
	font-size: 1rem;
	border: 1px solid var(--elements-bg);
	border-radius: 4px;
	color: var(--input);
	background-color: var(--elements-bg);
	margin-left: 0.25rem;
	padding: 0.85rem 0.4rem 0.85rem 2rem;
}

::placeholder {
	color: var(--text-primary);
}

textarea:focus,
input:focus,
select:focus {
	outline: none;
}

*:focus {
	outline: none;
}

.select-wrapper {
    padding-right: 0.5rem;
	border-radius: 7px;
    background: var(--elements-bg);
}

select {
	color: var(--text-primary);
    background: var(--elements-bg);
	padding: 0.85rem;
	border-radius: 7px;
	font-size: 1rem;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

select#xyz {
	border: 0;
	outline: none;
}

select option {
  background-color: var(--elements-bg);
}

option:checked {
  background-color: var(--app-background);
}

option:hover {
    background-color: var(--app-background);
}

.option:first-child {
    display: none;
}


.card-deck {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin: 1rem; */
    gap: 3rem;
    width: 92%;
    margin: auto;
}

.card-body {
	border: none;
    background-color: var(--elements-bg);
    color: var(--text-primary);
    cursor: pointer;
	border-radius: 6px;
    width: 100%;
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.card-body:hover {
	box-shadow: none;
	border: 5px solid rgb(61, 60, 60);
	transition: 0.2s;
}

.card-body img {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.content {
	padding: 0 0 40px 30px;
}

.country-detail {
	display: block;
	position: fixed;
	z-index: 1;
	padding: 100px 30%;
	/* left: 0;
  top: 0; */
	width: 50%;
	height: 40%;
	overflow: auto;
	/* background-color: rgb(255, 255, 255); */
	background-color: rgba(255, 255, 255, 0.7);
}
